<%- include('../../partials/header'); %>

<main>
  <div class="jumbotron">
    <h1>About Us</h1>
    <p>Welcome to about us page <%= config.foo %></p>
  </div>
</main>

<%- include('../../partials/footer'); %>