<%- include('../../../partials/header'); %>

<main>
  <div class="jumbotron">
    <h1>Products Search</h1>
    <p>Welcome to products search page</p>
  </div>
</main>

<%- include('../../../partials/footer'); %>