<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title><%= config.title || 'leisure - basic example' %></title>

  <!-- CSS (load bootstrap from a CDN) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body { padding-top:50px; }
  </style>
</head>

<body class="container">
  <header>
    <p>Header Block</p>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about-us">About Us</a>
      </li>
      <li>
        <a href="/terms-of-use">Terms Of Use</a>
      </li>
    </ul>
  </header>
</body>